<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
		<!-- 도서 추천 슬라이더  -->
		<div class="book-slider-container">
			<a href="/bookList"><h1>클릭 연관 추천 Pick</h1></a>
			<div class="book-slider">
	            <div class="book-slide">
	                <span class="book-item">
	                    <img src="img/book1.jpg" alt="Book 1">
	                    <a class="book-title" href="#">이 여름에 별을 보다</a>
	                    <a class="book-author" href="#">츠지무라 미즈키</a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book1.jpg" alt="Book 2">
	                    <a class="book-title" href="#">이 여름에 별을 보다</a>
	                    <a class="book-author" href="#">츠지무라 미즈키</a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book1.jpg" alt="Book 3">
	                    <a class="book-title" href="#">이 여름에 별을 보다</a>
	                    <a class="book-author" href="#">츠지무라 미즈키</a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book1.jpg" alt="Book 4">
	                    <a class="book-title" href="#">이 여름에 별을 보다</a>
	                    <a class="book-author" href="#">츠지무라 미즈키</a>
	                </span>
	            </div>
	            <div class="book-slide">
	                <span class="book-item">
	                    <img src="img/book2.jpg" alt="Book 5">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book2.jpg" alt="Book 6">
	                  	<a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book2.jpg" alt="Book 7">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book2.jpg" alt="Book 8">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	            </div>
	            <div class="book-slide">
	                <span class="book-item">
	                    <img src="img/book3.jpg" alt="Book 5">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book3.jpg" alt="Book 6">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book3.jpg" alt="Book 7">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	                <span class="book-item">
	                    <img src="img/book3.jpg" alt="Book 8">
	                    <a class="book-title" href="#">당신이 누군가를 죽였다</a>
	                    <a class="book-author" href="#">히가시노 게이고 </a>
	                </span>
	            </div>
	        </div>
	        <button class="book-prev" aria-label="Previous books">&lt;</button>
	        <button class="book-next" aria-label="Next books">&gt;</button>
    	</div>
	
</html>