<div class="container">
	<div class="line">
		<h1>제품 리뷰</h1>
		<button id="writeReviewBtn" class="btn save">리뷰 작성</button>
	</div>
	<div class="review-tabs">
		<button id="allReviewsBtn" class="btn active">전체 리뷰</button>
		<button id="buyerReviewsBtn" class="btn">구매자 리뷰</button>
	</div>
	<div id="reviewList" class="review-list"></div>
</div>

<div id="reviewModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h2>리뷰 작성</h2>
		<form id="reviewForm">
			<input type="text" id="name" placeholder="이름" required> <span>별점
			</span>
			<div class="rating">
				<input type="radio" id="star5" name="rating" value="5" /><label
					for="star5">☆</label> <input type="radio" id="star4" name="rating"
					value="4" /><label for="star4">☆</label> <input type="radio"
					id="star3" name="rating" value="3" /><label for="star3">☆</label>
				<input type="radio" id="star2" name="rating" value="2" /><label
					for="star2">☆</label> <input type="radio" id="star1" name="rating"
					value="1" /><label for="star1">☆</label>
			</div>
			<textarea id="content" placeholder="리뷰 내용" required></textarea>
			<button type="submit" class="btn save">제출</button>
		</form>
	</div>
</div>
