/*/////////////////////////*/
/*///////  스크롤 바 ////////*/
/*/////////////////////////*/
/* 전체 스크롤바 */
#chat-content::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비 */
	height: 8px; /* 수평 스크롤바의 높이 (선택 사항) */
}

/* 스크롤바의 트랙 (배경) */
#chat-content::-webkit-scrollbar-track {
	background: #fff; /* 배경 색상 */
}

/* 스크롤바의 핸들 (드래그 가능한 부분) */
#chat-content::-webkit-scrollbar-thumb {
	background: #888; /* 핸들의 색상 */
	border-radius: 4px; /* 핸들의 모서리 둥글게 */
	border-radius: 5px;
}

/* 핸들을 호버했을 때 */
#chat-content::-webkit-scrollbar-thumb:hover {
	background: #555; /* 핸들을 호버했을 때의 색상 */
}
/*/////////////////////////*/
/*/////////////////////////*/
/*/////////////////////////*/

/*/////////////////////////*/
/*/////// 챗봇 바디 /////////*/
/*/////////////////////////*/
#bot-container {
	display: none; /* 기본적으로 숨김 */
	position: fixed; /* 화면의 특정 위치에 고정 */
	bottom: 10%;
	right: 60px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 350px; /* 크기 조정 가능 */
	height: 500px;
	display: flex;
	flex-direction: column; /* 자식 요소를 세로로 배치 */
}

#bot-top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ff9040;
	height: 50px;
	background-color: #ff9040;
}

#input-container {
	display: flex;
	position: absolute; /* 입력 필드를 컨테이너 바닥에 고정 */
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	background: #fff; /* 입력 필드와 버튼을 감싸는 배경색 */
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#question {
	flex: 1;
	padding: 10px;
	border: none;
	border-top: 1px solid #aaa; /* 입력 필드와 버튼 사이에 경계선 추가 */
	border-bottom-left-radius: 5px;
}

#send-button {
	padding: 10px;
	border: none;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background-color: #fff;
	cursor: pointer; /* 버튼에 클릭 가능 스타일 추가 */
	border-bottom-right-radius: 5px;
}

/*/////////////////////////*/
/*/////////////////////////*/
/*/////////////////////////*/

/*/////////////////////////*/
/*/////// 유저 메세지 ////////*/
/*/////////////////////////*/
.msg.user {
	justify-content: flex-end;
}
/* 사용자 메시지 스타일 */
.msg.user .message {
	background-color: #ff9040;
	border-radius: 10px;
	position: relative;
	min-width: 50px;
	max-width: 60%;
	word-wrap: break-word; /* 줄바꿈 허용 */
}

#chat-content>div>div>div.part>p {
	background-color: #ff9040;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	min-width: 50px;
	word-wrap: break-word; /* 줄바꿈 허용 */
}

/*/////////////////////////*/
/*/////////////////////////*/
/*/////////////////////////*/

/*/////////////////////////*/
/*/////// 챗봇 메세지 ////////*/
/*/////////////////////////*/
.msg.bot {
	justify-content: flex-start;
}
#chat-content > div > div.icon > img{
	border-radius: 30px;
    width: 50px;
    height: 45px;
	padding: 10px;
}

/* 봇 메시지 스타일 */
.msg.bot .message {
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	max-width: 60%;
	word-wrap: break-word; /* 줄바꿈 허용 */
}
/*/////////////////////////*/
/*/////////////////////////*/
/*/////////////////////////*/

#chat-icon {
	position: fixed; /* 화면의 특정 위치에 고정 */
	bottom: 10%;
	right: 60px;
	cursor: pointer;
	width: 80px; /* 이미지 크기 */
	height: 80px; /* 이미지 크기 */
}

#close-button {
	display:flex;
	cursor: pointer;
	font-size: 18px;
	background: #ff9040;
	border: none;
	border-radius: 4px;
	position: absolute; /* 부모 요소를 기준으로 위치 조정 */
	top: 10px; /* 상단에서 10px 위치 */
	right: 10px; /* 오른쪽에서 10px 위치 */
}



#chat-content {
	max-height: 375px;
	overflow-y: auto; /* 수직 스크롤이 필요할 때만 나타나게 함 */
	overflow-x: hidden; /* 수평 스크롤 숨기기 */
}
#chat-content > div> div > div.part > p{
	margin: 0px;
	padding: 10px;
}

/* Flex 설정 */
.flex {
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

/* 메시지 스타일 */
.msg {
	font-size: 12px;
	display: flex;
	align-items: flex-start; /* 좌측 상단 정렬 */
	margin: 25px 0;
	word-wrap: break-word; /* 단어가 줄바꿈 되도록 설정 */
}

/* 메시지 시간 스타일 */
.msg .time {
	font-size: 0.8em;
	color: #888;
	position: absolute;
	bottom: -20px; /* 말풍선의 하단에 위치 */
	right: 5px; /* 말풍선의 오른쪽 하단에 위치 */
	margin: 0; /* 여백 제거 */
}

/* 날짜 스타일 */
.date {
	font-size: 0.9em;
	color: #AAA;
	margin: 10px 0;
}

/* 버튼 아이콘 스타일 */
#close-button>i {
	font-size: 18px;
}

#send-button>i {
	font-size: 20px;
	color: #ff9040;
}