@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	
}

.container {
	width:100%;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

.container h1 {
	padding: 20px
}

.search-box {
	background-color: white;
	border: 0.5px solid #d9d9d9;
	
}

.search-box, .inven-box {
	margin: 20px;
}

.search-section, .filter-section {
	margin: 20px;
}

.filter-section {
    margin-bottom: 20px;
    white-space: nowrap;
}

label {
	width:100px;
    font-weight: bold;
    margin-right: 10px;
}

.filter-section input{
    margin-right: 10px;
}

.jump {
	margin-right: 26px;
}


.long {
	width: 500px;
}


input, select, button {
	padding: 5px;
	margin: 5px;
}


button {
	background-color: white;
	border: 1px solid #a9a9a9;
	padding: 10px 20px;
	border-radius: 3px;
}

.btns {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.search-btn {
	background-color: #ccc;
	color: white;
	border: none;
	
}
.delete-btn {
	display:flex;
	justify-content:flex-end;
	margin:10px;
}

.inven-box {
	padding:20px;
	background-color: white;
	border: 0.5px solid #d9d9d9;
	white-space: nowrap;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: bold;
	background-color: #f7f7f7;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-align: center;
}

th {
	background-color: #f2f2f2;
}


.action-buttons button {
	margin: 5px;
}

.stars {
	color:#ffd700;
	font-size: 24px;
}