body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	
	
}



.container {
	width:100%;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

.container h2 {
	padding: 20px
}

.search-box {
	background-color: white;
	border: 0.5px solid #d9d9d9;
	
}

.search-box, .inven-box {
	margin: 20px;
}

.search-section, .filter-section {
	margin: 20px;
}
.filter-section div {
	margin-bottom: 20px;
}

input, select, button {
	padding: 5px;
	margin: 5px;
}


button {
	background-color: white;
	border: 1px solid #a9a9a9;
}

.btns {
	display: flex;
	
	justify-content: center;
}

.search-btn {
	background-color: #ff9040;
	color: white;
}

.inven-box {
	padding:20px;
	background-color: white;
	border: 0.5px solid #d9d9d9;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.action-buttons button {
	margin: 5px;
}