@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.logo{
	width: 80%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    
}

.menu {
	font-weight: bold;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    max-width: calc(100% - 250px); 
    margin-left: auto; 
}

.user-info {
	display: flex;
}

.user-info p {
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.user-info>p:first-of-type {
	margin-left: 20px;
	flex-grow: 1;
}

.user-info-line {
	width: 90%;
}


.submenu {
	border-radius: 5px;
	background-color: #444;
	display: none;
	list-style: none;
	margin:20px;
}