@charset "UTF-8";

body {
	background-color:#f0f0f0;
	margin: 0;
	font-family: Arial, sans-serif;
}


.logo{
	height: 50px;
}
.sidebar {
	min-width: 250px;
	background-color: #ffffff;
	height: 100vh;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 15px;
}

.user-info>img {
	display: block;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #ddd;
}

.user-info p {
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.user-info>p:first-of-type {
	margin-left: 20px;
	flex-grow: 1;
}

.user-info-line {
	width: 90%;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	padding: 15px;
	text-align: left;
	font-size: 18px;
	color: #333;
	cursor: pointer;
}

.sidebar ul li:hover {
	background-color: #ddd;
}

.sidebar ul li a {
	color: #000;
	text-decoration: none;
	padding: 10px;
}


.content {
	padding: 20px;
}