<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/mypage/sidebar.css">
    <link rel="stylesheet" href="/css/mypage/favorite.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    
</head>
<main>
    <div class="flex">
        <th:block  th:insert="~{views/mypage/sidebar}"/>
        <div class="main-content">
            <div class="container-main">
                <div class="head">
                    <h1>나의 취향</h1>
                </div>
                
                <section class="favorite-header">
                	<div class="chart-container">
                		<div class="chart-text">
	                		<span class="chart-name">관심있는 장르</span>
	                		<span class="chart-info">실결제, 찜하기, 장바구니에 담은 책 기준</span>
                		</div>
	                	<div id="chart1" class="chart"></div>
	                </div>
                	<div class="chart-container">
                		<div class="chart-text bar-chart">
	                		<span class="chart-name">이달의 구매 현황</span>
	                		<span class="chart-info">구매한 책의 장르</span>
                		</div>
	                	<div id="chart2" class="chart"></div>
	                </div>
                </section>
                
                <section class="wish-list">
                	<div class="wish-text">
                		<span class="chart-name">찜 목록</span>
                	</div>
                	<div class="book-grid">
				        <div class="book-item">
				            <img>
				            <h3>너무나 많은 여름이</h3>
				            <p>김안수 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>노르웨이의 시간 - 피오르와 디자이...</h3>
				            <p>신하자 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>바깥은 여름</h3>
				            <p>김애란 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>어쩌면 스무 번</h3>
				            <p>권혜영 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>트로피칼 나이트</h3>
				            <p>조예은 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>락타임, 러브, 좀비 (리커버)</h3>
				            <p>조예은 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>제품 전시 - 지구최강 사람들이</h3>
				            <p>제품이 누나 (지은이)</p>
				        </div>
				        <div class="book-item">
				            <img>
				            <h3>컬티시 - 정신의 언어학</h3>
				            <p>아만다 몽텔 (지은이), 김다...</p>
				        </div>
				    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="/js/mypage/favorite.js"></script>
</main>
</html>
