<div class="sidebar">
    <div class="profile-section">
        <div class="profile-pic">😊</div>
        <div class="profile-info">
            <div><b>이유진님</b></div>
            <div>
             <span>찜 0 </span>
             <span> 내 취향 0</span>
            </div>
        </div>
    </div>
    <ul class="menu">
        <li class="menu-main">마이페이지</li>
        <li><a href="#">쿠폰</a></li>
        <li><a href="#">나의 취향</a></li>
        <li><a href="#">회원 정보</a></li>
        <li><a href="#">회원 탈퇴</a></li>
        <li><a href="#">1:1 문의 내역</a></li>
        <li class="menu-main">주문내역</li>
        <li><a href="#">주문/배송목록</a></li>
        <li><a href="#">환불/교환 목록</a></li>
        <li><a href="#">취소 목록</a></li>
    </ul>
</div>