<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/cart/cart-list.css">
</head>
<main>
	<div>
        <h1>장바구니</h1>
        <div class="progress-bar">
            <div class="circle active">
            	<i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <div class="label">장바구니</div>
            </div>
            <div class="line"></div>
            <div class="circle">
            	<i class="fa-regular fa-credit-card"></i>
                <div class="label">주문/결제</div>
            </div>
            <div class="line"></div>
            <div class="circle">
            	<i class="fa-solid fa-clipboard-check"></i>
                <div class="label">주문완료</div>
            </div>
        </div>
        <div class="flex j-center">
	        <table class="left-section">
	            <thead>
	                <tr>
	                	<th><input type="checkbox"></th>
	                    <th>제품정보</th>
	                    <th>수량</th>
	                    <th>결제금액</th>
	                    <th>주문</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                	<td><input type="checkbox"></td>
	                    <td class="product-info">
	                        <img src="/img/book-cover.png" class="book-cover-img">
	                        <div class="book-info">
	                            <p>해리포터와 마법사의 돌 1</p>
	                            <p>J.K 롤링 저 / 강동혁 역</p>
	                        </div>
	                    </td>
	                    <td>1개</td>
	                    <td>17,000원</td>
	                    <td>
	                        <form action="/" class="buy-buttons">
	                            <button class="btn" onclick="window.location.href='/payment';">바로 구매</button>
	                            <button class="btn">수량 변경</button>
	                            <button class="btn delete">삭제</button>
	                        </form>
	                    </td>
	                </tr>
	                <tr>
	                	<td><input type="checkbox"></td>
	                    <td class="product-info">
	                        <img src="/img/book-cover.png" class="book-cover-img">
	                        <div class="book-info">
	                            <p>해리포터와 마법사의 돌 2</p>
	                            <p>J.K 롤링 저 / 강동혁 역</p>
	                        </div>
	                    </td>
	                    <td>1개</td>
	                    <td>17,000원</td>
	                    <td>
	                        <form action="/" class="buy-buttons">
	                            <button class="btn" onclick="window.location.href='/payment';">바로 구매</button>
	                            <button class="btn">수량 변경</button>
	                            <button class="btn">삭제</button>
	                        </form>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        
	        <div class="payment-summary">
			    <p><span>상품 금액</span> <span class="price">19,800원</span></p>
			    <p><span>배송비</span> <span class="price">0원</span></p>
			    <p><span>상품 할인</span> <span class="price">-1,980원</span></p>
			    <p><span>쿠폰 할인</span> <span class="price">0원</span></p>
			    <hr>
			    <p>최종 결제 금액 <span class="final-amount">17,820원</span></p>
			    <button class="side-btn" onclick="window.location.href='/';">쇼핑하러가기</button>
            	<button class="side-btn" onclick="window.location.href='/payment';">선택상품 구매</button>
            	<button class="side-btn btn-active" onclick="window.location.href='/payment';">전체상품 구매</button>
			</div>
	    </div>
    </div>
</main>
</html>