<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/cart/cart-list.css">
	<link rel="stylesheet" href="/css/cart/completion.css">
	<link rel="stylesheet" href="/css/mainContent/main_content.css"/>
	<script src="/js/mainContent/bannerCartMore.js"></script>
</head>
<main>
	<div>
		<h1>주문완료</h1>
		<div class="progress-bar">
			<div class="circle">
				<i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
				<div class="label">장바구니</div>
			</div>
			<div class="line"></div>
			<div class="circle">
				<i class="fa-regular fa-credit-card"></i>
				<div class="label">주문/결제</div>
			</div>
			<div class="line"></div>
			<div class="circle active">
				<i class="fa-solid fa-clipboard-check"></i>
				<div class="label">주문완료</div>
			</div>
		</div>
		
		<div class="payment-info">
			<p class="main-text">주문이 완료되었습니다.
			<p>
			<p class="order-number" th:text="|주문번호 : ${merchantUid}|">주문번호 : 2024080192123998</p>

			<div class="button-container">
				<button class="button primary-button">계속 쇼핑하기</button>
				<button class="button secondary-button"
					th:onclick="|window.location.href='/mypage/orders/detail/${merchantUid}';|">주문상세보기</button>
			</div>
			
			<!-- 도서 추천 슬라이더  -->
			<div class="book-slider-container" th:if="${#lists.size(books) >= 2}">
			    <a class="flex j-center">
			        <span class="text-explanation" th:text="|✔ ${#authentication.principal.name}님께서 방금 구매하신 ${query} 작가의 다른 작품도 살펴보세요!|"></span>
			    </a>
			    <div class="book-slider" th:if="${not #lists.isEmpty(books)}">
			        <div class="book-slide" >
			            <span class="book-item" 
			            		th:each="i : ${#numbers.sequence(0, #lists.size(books) > 4 ? 3 : #lists.size(books) - 1)}"
            					th:with="book=${books[i]}">
			                <a th:href="@{|/detail/${book.isbn}|}"><img th:src="${book.image}" th:alt="${book.title}"></a>
			                <a class="book-title" th:href="@{|/detail/${book.isbn}|}" th:text="${book.title}" th:title="${book.title}"></a>
			                <span class="book-author" th:text="${book.author}"></span>
			                <span class="book-price" th:text="|${#numbers.formatInteger(book.discount,3,'COMMA')} 원|"></span>
			            </span>
			        </div>
			    </div>
			</div>
			
		</div>
	</div>
</main>
</html>