<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/admin/write.css">
	<link rel="stylesheet" href="/css/admin/sidebar.css">
	<script src="/js/admin/sidebar.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div style="display: flex;">
		<th:block th:insert="~{views/seller/sidebar}" />
		<div class="container">
			<h1>상품 등록</h1>
			<div id="product-form">
				<table>
					<thead>
						<tr>
							<th colspan="4">기본 정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>도서명</th>
							<td colspan="3">
								<input type="text" id="product-name" name="product-name" placeholder="도서명을 입력해주세요">
								<span class="char-count">[0/100]</span>
							</td>
						</tr>
						<tr>
							<th>판매가</th>
							<td>
								<input type="text" id="price" name="price" placeholder="0">
								<span>원</span>
							</td>
							<th>정가</th>
							<td>
								<input type="text" id="price" name="price" placeholder="0">
								<span>원</span>
							</td>
						</tr>
						<tr>
							<th>할인율</th>
							<td>
								<input type="text" id="product-code" name="product-code">
							</td>
							<th>저자 리스트</th>
							<td>
								<input type="text" id="short-description" name="short-description">
							</td>
						</tr>
						<tr>
							<th>도서 줄거리</th>
							<td colspan="3">
								<textarea id="summary-description" name="summary-description"></textarea>
								<div class="note">- 도서의 간단한 줄거리를 입력할 수 있습니다.</div>
							</td>
						</tr>
						<tr>
							<th>도서 상세설명</th>
							<td colspan="3">
								<textarea id="detailed-description" name="detailed-description"></textarea>
							</td>
						</tr>
						<tr>
							<th>메인 이미지</th>
							<td colspan="3">
								<div>
									<label class="btn-file">
										<input type="file" id="itemFile" onchange="fileupload(this)"
											style="display: none;">
										<input type="hidden" name="bucketKey" required>
										<input type="hidden" name="orgName" required>
										<span>+</span>
									</label>
									<p class="file-guide">
										<span>권장 크기 : 1000 X 1000(윈도 대상 750 X 1000), 300 X 300 이상</span><br>
										<span>이미지 확대 기능 : 대표 이미지 기준 1000 X 1000 이상 이미지 등록 시, 확대 기능이 제공됩니다.</span><br>
									</p>
								</div>
							</td>
						</tr>
						<tr>
							<th>상세 이미지</th>
							<td colspan="3">
								<div>
									<label class="btn-file">
										<input type="file" id="itemFile" onchange="fileupload(this)"
											style="display: none;">
										<input type="hidden" name="bucketKey">
										<input type="hidden" name="orgName">
										<span>+</span>
									</label>
									<label class="btn-file">
										<input type="file" id="itemFile" onchange="fileupload(this)"
											style="display: none;">
										<input type="hidden" name="bucketKey">
										<input type="hidden" name="orgName">
										<span>+</span>
									</label>
									<label class="btn-file">
										<input type="file" id="itemFile" onchange="fileupload(this)"
											style="display: none;">
										<input type="hidden" name="bucketKey">
										<input type="hidden" name="orgName">
										<span>+</span>
									</label>
									<label class="btn-file">
										<input type="file" id="itemFile" onchange="fileupload(this)"
											style="display: none;">
										<input type="hidden" name="bucketKey">
										<input type="hidden" name="orgName">
										<span>+</span>
									</label>
									<!--이미지가 추가되면 레이블태그가 추가되도록 js를 만드세요-->
									<p class="file-guide">
										<span>권장 크기 : 1000 X 1000(윈도 대상 750 X 1000), 300 X 300 이상</span><br>
										<span>이미지 확대 기능 : 대표 이미지 기준 1000 X 1000 이상 이미지 등록 시, 확대 기능이 제공됩니다.</span><br>
									</p>

								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-write">
					<button>상품 등록</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>