<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>출판사 회원가입</title>
    <link rel="stylesheet" href="/css/login/signup.css">
</head>

<body>

    <div class="main-signup">

        <header>
            <a href="/">
                <div class="logo">
                    <img src="/img/Untitled_removebg_preview.png" class="image">			
                </div>
            </a>
        </header>
            
        <!-- 출판사 회원가입 부분 -->
        <section class="signup-wrap">

            <h3>출판사 이름</h3>
            <div class="signup-input">
                <input id="publisher-name" type="text" placeholder="출판사 이름을 입력하세요">
            </div>

            <h3>출판사 번호</h3>
            <div class="signup-input">
                <input id="publisher-number" type="text" placeholder="출판사 번호를 입력하세요">
            </div>

            <h3>사업자 번호</h3>
            <div class="signup-input">
                <input id="business-number" type="text" placeholder="사업자 번호를 입력하세요">
            </div>

            <h3>사업자 등록증 (이미지 파일)</h3>
            <div class="signup-input">
                <input id="business-registration" type="file" accept="image/*">
            </div>

            <h3>계좌 은행 및 계좌 정보</h3>
            <div class="signup-input">
                <input id="account-bank" type="text" placeholder="은행명을 입력하세요">
            </div>
            <div class="signup-input">
                <input id="account-number" type="text" placeholder="계좌 번호를 입력하세요">
            </div>

            <div>
                <!-- 가입하기 -->
                <div class="signup-btn-wrap">
                    <button id="signup-btn">가입하기</button>
                </div>         
            </div>
        </section>       
    </div>

</body>
</html>
